<div class="min-h-full relative">
  <header class="p-4">
    <h1 class="text-3xl font-bold">
      YT
      <span class="border-b border-dashed border-gray-700"> Feeder</span>
      &nbsp;🌯
    </h1>
    <p class="text-lg font-bold">
      Convert your recent YouTube uploads into a list of Markdown.
    </p>
  </header>

  <main class="mt-4 pb-8">
    <form
      autocomplete="off"
      class="p-4 mb-8 bg-gray-200 flex items-center"
      (submit)="handleFormSubmit()"
    >
      <mat-form-field class="w-64" appearance="fill">
        <mat-label>Your channel ID</mat-label>
        <input
          [(ngModel)]="channelId"
          name="channelId"
          matInput
          placeholder="Ex. UCuvTObpdx__W966kbdIZ4_Q"
        />
      </mat-form-field>
      <button id="submitBtn" mat-raised-button color="primary">Feed Me!</button>
    </form>

    <div *ngIf="errorMessage" class="p-4 text-red-600">{{ errorMessage }}</div>

    <div class="flex justify-center" *ngIf="loading">
      <mat-progress-spinner mode="indeterminate"> </mat-progress-spinner>
    </div>

    <ng-container *ngIf="content">
      <ng-container *ngIf="channelMeta">
        <h2 class="my-8">
          <a
            class="p-4 font-bold text-4xl text-blue-700"
            [href]="channelMeta.link"
            >{{ channelMeta.title }}</a
          >
        </h2>
      </ng-container>

      <div class="p-4 grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="w-full col-span-2">
          <p class="font-bold">
            Last {{ feedLengthSelected }} videos for this channel.
            <mat-slider
              (change)="setFeedItemLimit($event)"
              step="1"
              min="1"
              max="10"
              tickInterval="1"
              value="10"
            ></mat-slider>
          </p>

          <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
            *ngIf="channelItems"
          >
            <yt-feeder-video-card
              *ngFor="let item of selectedItems"
              [feedItem]="item"
            ></yt-feeder-video-card>
          </div>
        </div>
        <div class="w-full flex flex-col">
          <p class="font-bold">Markup for these videos.</p>
          <yt-feeder-markdown-accordion
            [feedItems]="selectedItems"
          ></yt-feeder-markdown-accordion>
        </div>
      </div>
    </ng-container>
  </main>
  <footer class="absolute bottom-0 w-full">
    <p class="text-center w-full">
      Made with ❤️ & ☕️ by
      <a class="text-blue-700" href="https://twitter.com/codebubb">@codebubb</a>
    </p>
  </footer>
</div>
